@import '../../styles/variables.scss';

.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 15px 0 0;

  .pagination-item {
    padding: 8px 16px;
    border: 1px solid $pagination-border;
    text-decoration: none;
    color: $black-color;
    transition: background-color 0.3s;

    &.disabled {
      background-color: $pagination-disabled-bg-color;
      cursor: default;

      a {
        cursor: default;
      }
    }

    &.active {
      border: 1px solid $pagination-bg-color;
      background-color: $pagination-bg-color;
      color: $white-color;
      cursor: default;

      a {
        color: $white-color;
        cursor: default;
      }
    }

    &:hover {
      cursor: pointer;
    }

    &:hover:not(.active) {
      background-color: $pagination-border;
    }
  }
}
