$black-color: #000;
$white-color: #fff;
$danger-color: red;
$spinner-color: #0dc5c1;
$input-border-color: #ccc;
$sidebar-box-shadow-color: #ccc;
$sidebar-border: #dee2e6;
$sidebar-bg-color: #3f4651;
$active-color: #007bff;
$pagination-border: #ddd;
$pagination-bg-color: #007bff;
$pagination-disabled-bg-color: #ccc;
$disabled-bg-color: #ccc;
$input-box-shadow-color: rgba(0, 0, 0, 0.2);
