@import '../../styles/_zIndex.scss';
@import '../../styles/variables.scss';

.spinner-loading-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: $white-color;
  z-index: $zIndexSpinnerLoading;
}

.loader {
  position: relative;
  width: 15em;
  height: 15em;
  margin: 50px auto;
  border-radius: 50%;
  font-size: 5px;
  text-indent: -9999em;
  transform: translateZ(0);
  animation: spinner 1.4s infinite linear;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 50%;
    height: 50%;
    border-radius: 100% 0 0 0;
    background: $spinner-color;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    width: 75%;
    height: 75%;
    margin: auto;
    border-radius: 50%;
    background: $white-color;
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
