@import '../../../styles/variables.scss';

nav {
  display: flex;
}

.navbar {
  position: sticky;
  top: 0;
  left: 250px;
  right: 0;
  background: $white-color;
  z-index: 1030;

  .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 15px;

    &-item {
      margin-right: 10px;
    }

    &-text {
      color: $black-color;
    }
  }
}

.content {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  padding: 1.5rem;
}
